.jumboContainer {
  margin-bottom: 5%;
  padding:0;
}

.mainJumbo {
  margin-top: 30%;
  margin-bottom: 0;
  padding: 0;
}

.title {
  font-family: 'Shrikhand', cursive;
  padding: 0;
  margin: 0;
}

#name {
  padding: 0;
  margin: 0;
  color: #d5d3d3;
}

.theme {
  opacity: 0.8;
  font-weight: 300;
}

.modal-open
.jumboContainer {
  opacity: 0.2;
}

.gameContainer {
  height: auto !important;
  padding: 0;       /* shifted padding, remove to center */
  min-width: 130px; /* custom width for "play now" button */
  max-width: 130px;
}

#playButton {
  font-family: 'Shrikhand', cursive;
}

.playModalHead
.closeBtn {
  margin: 0;
  padding: 0;
}

.playModalBody {
  padding: 0;
  margin: 5% auto;
  min-width: 200px;
}