body {
  background-repeat: no-repeat;
  background-size: cover;
}

.jumboContainer {
  margin-bottom: 5%;
  padding:0;
}

.mainJumbo {
  margin-top: 30%;
  margin-bottom: 0;
  padding: 0;
}

.title {
  font-family: 'Shrikhand', cursive;
  padding: 0;
  margin: 0;
  color: #dc3546;
  border-radius: 4px;
}

#name {
  padding: 0;
  margin: 0;
  color: #cdcdcd;
}

.theme {
  opacity: 0.8;
  font-weight: 300;
}

.modal-open
.jumboContainer {
  opacity: 0.2;
}

.gameContainer {
  height: auto !important;
  width: auto;
  padding: 0;       /* shifted padding, remove to center */
}

.gameDisplay,
.main {
  height: auto;
}

.wordDisplay {
  font-size: 30px;
}

table {
  margin: 0 auto;
}

dl {
  width: 70%;
  margin: 0 auto;
}

dt { 
  display: block; 
  float: left; 
  text-align: right;
}
dt:after {
  content: ':';
}

dd { 
  display:block;
  text-align: right;
}

#playButton {
  font-family: 'Shrikhand', cursive;
}

.playModalHead
.closeBtn {
  margin: 0;
  padding: 0;
}

.playModalBody {
  padding: 0;
  margin: 5% auto;
  min-width: 200px;
}